.signup-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(232, 231, 230);
}

.signup-form {
  width: 40%;
  padding: 20px;
}

.signup-form h1 {
  text-align: center;
  margin: 2rem 0;
}

.signup-form .btn {
  margin: auto;
  background-color: #0dd6b8;
  font-weight: 700;
}

.signup-form span {
  font-size: 0.8rem;
  cursor: pointer;
}